body{
    font-size: 40px;
}

#equation {
    display: grid;
    place-items: start;
    justify-content: start;
    text-align:center;
}

.math, .math * {
    grid-row: 1;
} 

#sum{
    display: inline-block;
}

#subtext {
    color:rgb(122, 122, 122);
    font-size:0.5em;
    text-align:center;
    display: block;
    grid-row: 2;
}

.clickable:hover {
    text-shadow: lightblue 0px 0px 0.5px;
}