body{
    font-size: 40px;
}

#equationArea{
    display: grid;
    place-items:center;
    text-align:center;
    width: fit-content;
    width: -moz-fit-content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}

.equation-left, .equation-equals, .equation-right{
    margin-top:0.25em;
    margin-bottom:0.25em;
}

.equation-left{
    grid-column: 1
}
.equation-equals{
    grid-column: 2;
    text-justify: center;
}
.equation-right{
    grid-column: 3
}

#sum{
    display: inline-block;
}

#subtext {
    color:rgb(122, 122, 122);
    font-size:0.5em;
    text-align:center;
    display: block;
    grid-row: 2;
}

sup {
    font-size: 0.6em
}

hr {
    margin: 0 0 0 0;
}

.clickable:hover {
    background-color: rgb(250, 250, 250);
    text-shadow: lightblue 1px 3px 5px;
    cursor: pointer;
}

#equationInput {
    width: fit-content;
    width: -moz-fit-content;
    border-width: 1px;
    padding: 0.5em;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    border-color: gray;
    border-style: solid;
}

.fraction{
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-0.1em);
    margin-left: 0.1em;
    text-align: center;
}

#sendToConsoleButton{
    font-size: 0.5em;
}
}
#equationArea{
    margin-bottom:100%;
}