body{
    font-size: 40px;
}

#equation {
    display: inline-grid;
}

 .math, .math * {
    grid-row: 1;
} 

#sum{
    display: inline-block;
}

#subtext {
    color:rgb(122, 122, 122);
    font-size:0.2em;
    text-align:center;
    display: block;
    grid-row: 2;
}